{% extends "base.html" %} {% block title %}{{ film.title }} - FilmLibrary{%
endblock %} {% block content %}
<div class="film-details-main">
    <div class="film-card">
        <img
            src="{{ cdn }}{{ film.photo }}"
            alt="{{ film.title }}"
        />
        <div class="film-info">
            <h2>{{ film.title }}</h2>
            <div class="years">
                <b>Год:</b>
                <a href="/years/{{ film.year }}">{{ film.year }}</a>
            </div>
            {% if film.countries %}
            <div class="countries">
                <b>Страны:</b>
                {% for country in film.countries %}
                <a href="/countries/{{ country.name | urlencode }}/"
                    >{{ country.name }}</a
                >
                {% endfor %}
            </div>
            {% endif %}

            <div class="genres">
                <b>Жанр:</b>
                {% for genre in film.genres %}
                <a href="/genres/{{ genre.name | urlencode }}/"
                    >{{ genre.name }}</a
                >
                {% endfor %}
            </div>

            <p class="rating">
                    <a href="/rating/{{ film.rating }}" class="year-link"
                        >⭐ {{ film.rating }}</a
                    >
                    
                </p>
            <p><strong>Описание:</strong> {{ film.description }}</p>
        </div>
    </div>

    <div style="text-align: center; margin-top: 25px">
        <a href="javascript:history.back()" class="back-btn">Назад</a>
    </div>
</div>
{% endblock %}
