{% extends "base.html" %} {% block title %}FilmLibrary - Фильмы и Сериалы{%
endblock %} {% block content %}
<div class="movies-grid">
    {% if films %}
        {% for film in films %}
        <div class="movie-card">
            <a href="/film/{{ film.id }}">
                <img
                    src="{{ cdn }}{{ film.photo }}"
                    alt="{{ film.title }}"
                />
                <div class="movie-info">
                    <h3>{{ film.title }}</h3>
                    <p>
                        <a href="/years/{{ film.year }}" class="year-link"
                            >{{ film.year }}</a
                        >
                    </p>
                    <p class="rating">
                        <a href="/rating/{{ film.rating }}" class="year-link"
                            >⭐ {{ film.rating }}</a
                        >
                        
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <div class="no-results">
            {% if request.query_params.get('q') and request.query_params.get('q')|length < 3 %}
                <h2>Слишком короткий запрос</h2>
                <p>В поиске должно быть введено минимум 3 символа</p>
            {% else %}
                <h2>Ничего не найдено</h2>
                <p>Попробуйте изменить поисковый запрос</p>
            {% endif %}
        </div>
    {% endif %}
</div>

<div class="pagination">
    {% if total_pages > 1 %} {% set query = request.query_params.q if 'q' in
    request.query_params else '' %} {% if page > 1 %}
    <a href="?q={{ query }}&page={{ page - 1 }}">«</a>
    {% endif %} {% for p in range(1, total_pages + 1) %} {% if p == page %}
    <span class="current">{{ p }}</span>
    {% else %}
    <a href="?q={{ query }}&page={{ p }}">{{ p }}</a>
    {% endif %} {% endfor %} {% if page < total_pages %}
    <a href="?q={{ query }}&page={{ page + 1 }}">»</a>
    {% endif %} {% endif %}
</div>
{% endblock %}
